<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">List des clients supprimer</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <!-- [ Main Content ] start -->
                    <div class="row">


                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">

                                </div>
                                <div class="card-body table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nom compte</th>
                                                    <th>Localisation</th>
                                                    <th>Contacts</th>
                                                    <th>type</th>
                                                    <th>Email</th>
                                                    <th>Enregistre le</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Media Fann</td>
                                                    <td>Guinee</td>
                                                    <td>@1</td>
                                                    <td>Client</td>
                                                    <td>guine34@gmail.com</td>
                                                    <td>2018-08-29</td>

                                                    <td>
                                                        <div class="btn-group mb-2 mr-2">
                                                            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-pie-chart"></i></button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>


                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>

                                                  <td>1</td>
                                                  <td>Media Fann</td>
                                                  <td>Guinee</td>
                                                  <td>@1</td>
                                                  <td>Client</td>
                                                  <td>guine34@gmail.com</td>
                                                  <td>2018-08-29</td>
                                                  <td>
                                                    <div class="btn-group mb-2 mr-2">
                                                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-pie-chart"></i></button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>


                                                        </div>
                                                    </div>
                                                </td>
                                                </tr>
                                                <!-- <tr>
                                                    <td>2</td>
                                                    <td>Danny Fann</td>
                                                    <td>Guinee</td>
                                                    <td>@676543456</td>
                                                    <td>Client</td>
                                                    <td>dani34@gmail.com</td>
                                                    <td>2019-08-29</td>

                                                    <td>
                                                        <div class="btn-group mb-2 mr-2">
                                                            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-pie-chart"></i></button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>

                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr> -->
                                                <!-- <tr>
                                                    <td>3</td>
                                                    <td>Tommy dom</td>
                                                    <td>Cameroon</td>
                                                    <td>676545678</td>
                                                    <td>grand client</td>
                                                    <td>dom34@gmail.com</td>
                                                    <td>2020-08-29</td>

                                                    <td>
                                                        <div class="btn-group mb-2 mr-2">
                                                            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-pie-chart"></i></button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#!">Details</a>

                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr> -->

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>


































  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">

                <input type="text" class="form-control" id="exampleInputPassword1" value="Media Fann" disabled>
            </div>
            <div class="form-group">

                <input type="text" class="form-control" id="exampleInputPassword1" value="Gunee" disabled>
            </div>
            <div class="form-group">

                <input type="text" class="form-control" id="exampleInputPassword1" value="@1" disabled>
            </div>
            <div class="form-group">

                <input type="text" class="form-control" id="exampleInputPassword1" value="client" disabled>
            </div>
            <div class="form-group">

                <input type="text" class="form-control" id="exampleInputPassword1" value="guin34@gmail.com" disabled>
            </div>
            <div class="form-group">

                <input type="text" class="form-control" id="exampleInputPassword1" value="2018/08/29" disabled>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
