.flex{
    display: flex;
    justify-content: space-between;
}

.TEXT {
    color:black;
    font-weight: 800;
    font-size: 16px;
}
.bill{
    display: flex;
    justify-content: space-between;
    
}
.details-billings{
    position: relative;
    padding: 20px;
    width: 40%;
    
  
    
}
.details-billings .items{
    display: flex;
    justify-content: space-between;

    
}
.items .head{

    font-weight: 700;
    font-size: 20px;
    color: black;
}
.items .sub{
    font-weight: 700;
    font-size: 20px;
}
.total{
    display: flex;
    justify-content: space-between;
}
.main-total{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}
.sub-total{
    font-size: 2.5rem;
}
.wel{
    padding: 20px;
}
.wel input{
    height: 40px;
    width: 100%;
}
.box-section .btn-light{
    padding: 20px;

}
.box-section .btn-light i{
    color: blue;
    font-size: 40px;
    /* padding-top: ;
    margin-top: 2px;
    line-height: 2; */
}
.qte{
    padding: 40px;
}
.num{
    color: rgb(0, 191, 255);
    font-weight: 800;
    font-size: 16px;
}
.marc{
    display: flex;
    justify-content: space-between;
}
.non{
    display: none;
}
.check{
    margin-left: 30px;
    display: flex;
    margin: 10px;
}
.look{
    size: 100px;
    background-color: red;
}
.form-check-label{
    margin-left: 20px;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

