.delete-drop:hover{
    background-color: red;
    cursor: pointer;
    color: #fff;
}
.validation-error{
    color: red;
    font-size: 10px ;
}
.move{
    display: flex;
}
.pagination{
    padding: 20px 16px;
    float: right;
}