<div class="m-header">
    <a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
    <a href="index.html" class="b-brand">
        <img src="../../../assets/images/logo.svg" alt="" class="logo images">
        <img src="../../../assets/images/logo-icon.svg" alt="" class="logo-thumb images">
    </a>
</div>
<a class="mobile-menu" id="mobile-header" href="#!">
    <i class="feather icon-more-horizontal"></i>
</a>
<div class="collapse navbar-collapse ">
    <a href="#!" class="mob-toggler"></a>
    <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <div class="main-search open">
                <div class="input-group">
                    <input type="text" id="m-search" class="form-control" placeholder="Recherche . . .">
                    <a href="#!" class="input-group-append search-close">
                        <i class="feather icon-x input-group-text"></i>
                    </a>
                    <span class="input-group-append search-btn btn btn-primary">
                        <i class="feather icon-search input-group-text"></i>
                    </span>
                </div>
            </div>
        </li>
    </ul> -->
    <ul class="navbar-nav ml-auto">

        <li>
            <div class="dropdown drp-user">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon feather icon-settings"></i>
                </a>
                <span>parametres</span>
                <span style="color: green; margin-left: 100px; font-weight: bold; font-size: 17px;">v3.6.0</span>
                <div class="dropdown-menu dropdown-menu-right profile-notification">
                    <div class="pro-head">
                        <img [src]="profileURL" class="img-radius" alt="User-Profile-Image">
                        <span>{{userName}}</span>
                        <a class="dud-logout" title="Logout">
                            <i class="feather icon-log-out" (click)="logoutUsers()"></i>
                            <span>deconnecter</span>
                        </a>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>
