<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Clients</h5>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ form-element ] start -->
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Ajouter Clients</h5>
                                </div>
                                <div class="card-body">
                                    
                                    <button  type="button" class="btn btn-success"> <i style="font-size: 25px;" class='bx bx-message-square-add'></i> </button>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Nom du compte</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Region</label>
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Pays</label>
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">ville /village</label>
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                </div>
                                               
                                               
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Address Mail</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Telephone 1</label>
                                                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Telephone 2</label>
                                                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Example select</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>residential</option>
                                                        <option>unique</option>
                                                    </select>
                                                </div>
                                               
                                               
                                            </form>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </div>
                            <!-- Input group -->
                            
                        </div>
                        <!-- [ form-element ] end -->
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>